<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Spring7RestMvcApplication" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot" nameIsGenerated="true">
    <option name="ACTIVE_PROFILES" value="localmysql" />
    <option name="FRAME_DEACTIVATION_UPDATE_POLICY" value="UnknownPolicyInFreeMode" />
    <module name="spring-7-rest-mvc" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="guru.springframework.spring7restmvc.Spring7RestMvcApplication" />
    <extension name="coverage">
      <pattern>
        <option name="PATTERN" value="guru.springframework.spring7restmvc.*" />
        <option name="ENABLED" value="true" />
      </pattern>
    </extension>
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>